@charset "UTF-8";
h1{
    font-size: 1.75em;
    color:#ff0000;
}

.kadai1{
   float: left; 
}
dt{
  float: left;
    color:#ff0000;
}
dd{
    float: left;
    color:#0000ff;
}
h2{
clear:left;
color:#0000ff;
}
.kadai2{
    float:left;
   .webkit-appearance:nine;
   margin;5px
}

.kadai2-submit{
background-color:#00ffff;
}

.kadai2-reset{
background-color:#ffff00;
}
