@charset "UTF-8";
h1{
    font-size: 1.75em;
    color:#ff0000;
}

.kadai1{
   float: left; 
}
dt{
  float: left;
    color:#ff0000;
}
dd{
    float: left;
    color:#0000ff;
}
h2{
clear:left;
color:#0000ff;
}
.kadai2{
    float:left;
   .webkit-appearance:nine;
   margin:5px;
   width:100;
   height:40;
   padding:10;
   border:none;
   font-size:16px;
}

.kadai2:hover{
    opacity:0.7;
}
.kadai2:active{
    color:white;
}

.kadai2-submit{
background-color:#00ffff;
}

.kadai2-reset{
background-color:#ffff00;
}
h3{
clear:left;
color:#0000ff;
}
#kadai3{
border:2px solid lightcoral;
border=collapse:collapse;

}
